body {
    font-family: Arial, sans-serif;
    background-color: #303030;
    color: white;
}

h3 {
    text-align: center;
    color: #ffffff; /* Color de los links */
}

h4 {
    text-align: center;
    color: #ffffff; /* Color de los links */
}


#linkList {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 500px;
}

#linkList li {
    display: flex;
    justify-content: space-between; /* Alinea el contenido en la misma línea */
    align-items: center;
    margin-bottom: 10px;
}

.status-container {
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre el símbolo y el texto */
}

a {
    text-decoration: none;
    color: #BCBCBC; /* Color de los links */
}

a:hover {
    color: #E5E5E5; /* Color al pasar el mouse sobre los links */
}

.status {
    font-size: 24px;
}

.online {
    color: green;
}

.offline {
    color: red;
    animation: blink 1s infinite;
}

/* Animación para hacer parpadear el símbolo */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
